:root {
	--primaryColor: #E06542;
	--secondaryColor: #FA9048;
	--accentColor: #66C2E1;
	--secondaryAccentColor: #77C9E4;
	--footerColor: #222230;
	--textColor: #0A122A;
	--formColor: #EDEDED;
}

html, 
body {
	position: relative;
	min-width: 100%;
	min-height: 100vh;
	letter-spacing: 0.5px;
}

#svelte {
	display: grid;
	grid-template-rows: auto 1fr auto;
	position: relative;
	min-width: 100%;
	min-height: 100vh;

	font-size: 62.5%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.2;
	background: linear-gradient(135deg, var(--primaryColor) 40%, var(--secondaryColor) 90%);
	color: var(--textColor);
}

a {
	color: var(--textColor);
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
  margin-left: 0.3em;
}

ul li a {
  padding: 4px 10px;
}

ul li a span {
  font-weight: 500;
}

ul li a:active,
ul li a:visited {
  color: var(--textColor);
}